*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: 1px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	user-select: none;
	overflow: hidden;
	transition: 1s;
	scroll-behavior: smooth;
	color: #486bb3;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
html{
	width:  100%;
	height: 100%;
}
body{
	width:  100%;
	height: 100%;
	display: flex;
	background-color: #000;
	position: relative;
}
#modal{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	display: flex;
	flex-flow: column;
	background-color: #000;
}
#modal p{
	font-size: 120%;
	color: #e6e6e6;
}
#modal button{
	color: #e6e6e6;
	padding: 5px 10px;
	border-radius: 5px;
	border: 2px solid #e6e6e6;
	background: none;
	margin: 20px;
	cursor: pointer;
}
#modal.mod00{ top: 0; }
#modal.mod01{ top: -200%; }
main{
	width:  100%;
	height: 100%;
	padding: 10px;
	max-width: 180vh;
	display: flex;

}
article{
	width:  100%;
	padding-top: 56.25%;
	position: relative;
}
section{
	width:  100%;
	height: 100%;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
}
section div.frame{
	display: flex;
	flex-flow: column;
	position: relative;
}

section div.frame aside:nth-of-type(1){
	width: 100%;
	height: 20px;
	display: flex;
	padding: 5px;
	justify-content: flex-end;
}

section div.frame aside:nth-of-type(1) svg{
	width: auto;
	height: 100%;
}

section div.frame aside:nth-of-type(2){
	width: 100%;
	height: calc(100% - 20px);
	padding: 10px;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	border-top: none;
	background-color: #e6e6e6;
}
section div.frame aside:nth-of-type(2) div.screen00{
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}
section div.frame aside:nth-of-type(2) div.screen00 h1{
	font-size: 300%;
	font-weight: 900;
}

section div.frame aside:nth-of-type(2) div.screen00 div{
	width: 100%;
	display: flex;
	flex-flow: column;
}

section div.frame aside:nth-of-type(2) div.screen00 button{
	width: 60%;
	max-width: 250px;
	border: 1px solid #486bb3;
	padding: 5px 0;
	border-radius: 5px;
	cursor: pointer;
}

section div.frame aside:nth-of-type(2) div.screen00 button:nth-of-type(1){
	background-color: #486bb3;
	color: #e6e6e6;
}

section div.frame aside:nth-of-type(2) div.screen00 button:nth-of-type(2){
	margin-top: 10px;
}

section div.frame aside:nth-of-type(2) div.screen00 p{
	font-size: 60%;
}

section div.frame aside:nth-of-type(2) div.screen01{
	display: flex;
	flex-flow: column;
	align-items: center;
	align-content: center;
	justify-content: center;
}

section div.frame aside:nth-of-type(2) div.screen01 svg{
	height: 40%;
	fill: #486bb3;
}

section div.frame aside:nth-of-type(2) div.screen02{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

section div.frame aside:nth-of-type(2) div.screen02{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

section div.frame aside:nth-of-type(2) div.screen02 div:nth-of-type(1){
	width: 60%;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

section div.frame aside:nth-of-type(2) div.screen02 div:nth-of-type(1) figure:nth-of-type(1){
	width: 100%;
	height: 70%;
	margin-top: 5%;
	border-radius: 10px;
}

section div.frame aside:nth-of-type(2) div.screen02 div:nth-of-type(1) h2{
	font-weight: bold;
	font-size: 200%;
	color: #4848b3;
}

section div.frame aside:nth-of-type(2) div.screen02 div:nth-of-type(2){
	width: 20%;
	height: 100%;
	flex-flow: column;
	justify-content: space-around;
}

section div.frame aside:nth-of-type(2) div.screen02 div:nth-of-type(2) figure{
	width: 100%;
	padding-top: 56.25%;
	margin-top: 5%;
	background-color: #999;
	border-radius: 10px;
	cursor: pointer;
}

section div.frame aside:nth-of-type(2) div.screen02 div:nth-of-type(2) figure:nth-of-type(1){
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain, cover;
}
section div.frame aside:nth-of-type(2) div.screen02 div:nth-of-type(2) figure:nth-of-type(2){
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain, cover;
}
section div.frame aside:nth-of-type(2) div.screen02 div:nth-of-type(2) figure:nth-of-type(3){
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain, cover;
}

section.view02 div.frame aside:nth-of-type(3){
	transition: 0.25s;
	position: absolute;
	margin: 20px;
	left: calc(30% - 250px);
	top:  calc(50% - 150px);
	background-color: #e6e6e6;
	justify-content: space-around;
}

section.view02 div.frame aside:nth-of-type(3) div.panel:nth-of-type(1){
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: start;
	background-color: #4d4d4d;
}
section.view02 div.frame aside:nth-of-type(3) div.panel:nth-of-type(1) svg{
	width: 30px;
	height: 60%;
}
section.view02 div.frame aside:nth-of-type(3) div.panel:nth-of-type(1) p{
	color: #FFF;
}
section.view02 div.frame aside:nth-of-type(3) div.panel:nth-of-type(2){
	width: 100%;
	height: calc(100% - 30px);
	background-color: #e6e6e6;
	border: 2px solid #4d4d4d;
	border-top: none;
	display: flex;
	flex-flow: column;
	justify-content: center;
}
section.view02 div.frame aside:nth-of-type(3) div.panel:nth-of-type(2) h2{
	text-align: center;
	margin-bottom: 10px;
}
section.view02 div.frame aside:nth-of-type(3) div.panel:nth-of-type(2) ul{
	height: 70px;
	display: flex;
}
section.view02 div.frame aside:nth-of-type(3) div.panel:nth-of-type(2) li{
	width:  50px;
	height: 50px;
	margin: 5px;
	border: 2px solid #999;
	box-shadow: 0 10px #999;
	border-radius: 10px;
}
section.view02 div.frame aside:nth-of-type(3) div.panel:nth-of-type(2) li svg{
	fill: #4d4d4d;
}

section.view02 div.frame aside:nth-of-type(3) div.panel:nth-of-type(2) li.good{
	margin: 20px 5px 5px;
	border: 2px solid #3A3;
	box-shadow: 0 2px #3A3;
}

section.view02 div.frame aside:nth-of-type(3) div.panel:nth-of-type(2) li.good{
	margin: 20px 5px 5px;
	border: 2px solid #3A3;
	box-shadow: 0 2px #3A3;
}
section.view02 div.frame aside:nth-of-type(3) div.panel:nth-of-type(2) li.good svg{fill: #3A3;}

section.view02 div.frame aside:nth-of-type(3) div.panel:nth-of-type(2) li.badd{
	margin: 20px 5px 5px;
	border: 2px solid #A33;
	box-shadow: 0 2px #A33;
}
section.view02 div.frame aside:nth-of-type(3) div.panel:nth-of-type(2) li.badd svg{fill: #A33;}

section.view02 div.frame aside:nth-of-type(3) div.panel:nth-of-type(2) .popup:nth-of-type(3){
	width: 100%;
	display: flex;
	justify-content: space-around;
}
section.view02 div.frame aside:nth-of-type(3) div.panel:nth-of-type(2) .popup:nth-of-type(3) div:nth-of-type(1){
	width:  120px;
	height: 120px;	
	background-color: #4d4d4d;
	position: relative;
	border-radius: 10px;
	box-shadow: 0 -10px #999;
}
section.view02 div.frame aside:nth-of-type(3) div.panel:nth-of-type(2) .popup:nth-of-type(3) div:nth-of-type(1) .arrow{
	height: 100%;
	fill: none;
	stroke: #e6e6e6;
	stroke-width: 5px;
	position: absolute;

}
section.view02 div.frame aside:nth-of-type(3) div.panel:nth-of-type(2) .popup:nth-of-type(3) div:nth-of-type(2){
	width: 50%;
	min-height: 50%;
}	
section.view02 div.frame aside:nth-of-type(3) div.lbar{
	width: calc(100% - 60px);
	height: 30px;
	margin: 30px 0; 
	background-color: #999;
}
section.view02 div.frame aside:nth-of-type(3) div.lbar figure{
	width: 0%;
	height: 100%;
	background-color: #b3486b;	
}


/*VARIABLE VIEWS*/

section.view00{ background-color: #8ac7e6; }
section.view01{ background-color: #8ac7e6; }
section.view02{ background-color: #a98ae6; }

section.view00 div.frame{ width: 50%; height: 60%; }
section.view01 div.frame{ width: 50%; height: 60%; }
section.view02 div.frame{ width: 95%; height: 95%; }

section.view00 div.frame aside:nth-of-type(1){background-color: #486bb3;}
section.view00 div.frame aside:nth-of-type(2){border: 2px solid #486bb3;}

section.view01 div.frame aside:nth-of-type(1){background-color: #486bb3;}
section.view01 div.frame aside:nth-of-type(2){border: 2px solid #486bb3;}

section.view02 div.frame aside:nth-of-type(1){background-color: #4848b3;}
section.view02 div.frame aside:nth-of-type(2){border: 2px solid #4848b3;}

section.view00 div.screen00{ height: 100%; }
section.view00 div.screen01{ height: 0; }
section.view00 div.screen02{ height: 0; }

section.view01 div.screen00{ height: 0; }
section.view01 div.screen01{ height: 100%; }
section.view01 div.screen02{ height: 0; }

section.view02 div.screen00{ height: 0; }
section.view02 div.screen01{ height: 0; }
section.view02 div.screen02{ height: 100%; }

section.view02 div.face00 div:nth-of-type(1) figure:nth-of-type(1){ background: url('../../assets/sprites/00010.jpg');}
section.view02 div.face00 div:nth-of-type(1) figure:nth-of-type(1){ background-repeat: no-repeat;}
section.view02 div.face00 div:nth-of-type(1) figure:nth-of-type(1){ background-position: center;}
section.view02 div.face00 div:nth-of-type(1) figure:nth-of-type(1){ background-size: cover;}
section.view02 div.face00 div:nth-of-type(2) figure:nth-of-type(1){ background: url('../../assets/sprites/C_001.png'), url('../../assets/sprites/G2G-BG03.png');}
section.view02 div.face00 div:nth-of-type(2) figure:nth-of-type(2){ background: url('../../assets/sprites/B_001.png'), url('../../assets/sprites/G2G-BG02.png');}
section.view02 div.face00 div:nth-of-type(2) figure:nth-of-type(3){ background: url('../../assets/sprites/A_001.png'), url('../../assets/sprites/G2G-BG01.png');}

section.view02 div.face01 div:nth-of-type(1) figure:nth-of-type(1){ background: url('../../assets/sprites/D_002.gif'),url('../../assets/sprites/hack.png');}
section.view02 div.face01 div:nth-of-type(1) figure:nth-of-type(1){ background-repeat: no-repeat;}
section.view02 div.face01 div:nth-of-type(1) figure:nth-of-type(1){ background-position: center;}
section.view02 div.face01 div:nth-of-type(1) figure:nth-of-type(1){ background-size: contain, cover;}
section.view02 div.face01 div:nth-of-type(2) figure:nth-of-type(1){ background: url('../../assets/sprites/C_002.png'), url('../../assets/sprites/G2G-BG03.png');}
section.view02 div.face01 div:nth-of-type(2) figure:nth-of-type(2){ background: url('../../assets/sprites/B_002.png'), url('../../assets/sprites/G2G-BG02.png');}
section.view02 div.face01 div:nth-of-type(2) figure:nth-of-type(3){ background: url('../../assets/sprites/A_002.png'), url('../../assets/sprites/G2G-BG01.png');}

section.view02 div.face02 div:nth-of-type(1) figure:nth-of-type(1){ background: url('../../assets/sprites/D_003.gif'),url('../../assets/sprites/hack.png');}
section.view02 div.face02 div:nth-of-type(1) figure:nth-of-type(1){ background-repeat: no-repeat;}
section.view02 div.face02 div:nth-of-type(1) figure:nth-of-type(1){ background-position: center;}
section.view02 div.face02 div:nth-of-type(1) figure:nth-of-type(1){ background-size: contain, cover;}
section.view02 div.face02 div:nth-of-type(2) figure:nth-of-type(1){ background: url('../../assets/sprites/C_003.png'), url('../../assets/sprites/G2G-BG03.png');}
section.view02 div.face02 div:nth-of-type(2) figure:nth-of-type(2){ background: url('../../assets/sprites/B_003.png'), url('../../assets/sprites/G2G-BG02.png');}
section.view02 div.face02 div:nth-of-type(2) figure:nth-of-type(3){ background: url('../../assets/sprites/A_003.png'), url('../../assets/sprites/G2G-BG01.png');}

section.view02 div.face03 div:nth-of-type(1) figure:nth-of-type(1){ background: url('../../assets/sprites/D_001.gif'),url('../../assets/sprites/hack.png');}
section.view02 div.face03 div:nth-of-type(1) figure:nth-of-type(1){ background-repeat: no-repeat;}
section.view02 div.face03 div:nth-of-type(1) figure:nth-of-type(1){ background-position: center;}
section.view02 div.face03 div:nth-of-type(1) figure:nth-of-type(1){ background-size: contain, cover;}
section.view02 div.face03 div:nth-of-type(2) figure:nth-of-type(1){ background: url('../../assets/sprites/C_004.png'), url('../../assets/sprites/G2G-BG03.png');}
section.view02 div.face03 div:nth-of-type(2) figure:nth-of-type(2){ background: url('../../assets/sprites/B_004.png'), url('../../assets/sprites/G2G-BG02.png');}
section.view02 div.face03 div:nth-of-type(2) figure:nth-of-type(3){ background: url('../../assets/sprites/A_004.png'), url('../../assets/sprites/G2G-BG01.png');}

section.view00 div.frame aside:nth-of-type(3).set00{ width: 0; height: 0; box-shadow: none;}
section.view01 div.frame aside:nth-of-type(3).set00{ width: 0; height: 0; box-shadow: none;}
section.view02 div.frame aside:nth-of-type(3).set00{ width: 0; height: 0; box-shadow: none;}
section.view02 div.frame aside:nth-of-type(3).set01{ width: 500px; height: 300px; box-shadow: 0 6px 12px -3px #4d4d4d; }

section.view02 div.frame aside:nth-of-type(3) div.pop00 div.popup{height: 0;}

section.view02 div.frame aside:nth-of-type(3) div.pop01 div.popup:nth-of-type(1){height: auto;}
section.view02 div.frame aside:nth-of-type(3) div.pop01 div.popup:not(:nth-of-type(1)){height: 0;}

section.view02 div.frame aside:nth-of-type(3) div.pop02 div.popup:nth-of-type(2){height: auto;}
section.view02 div.frame aside:nth-of-type(3) div.pop02 div.popup:not(:nth-of-type(2)){height: 0;}

section.view02 div.frame aside:nth-of-type(3) div.pop03 div.popup:nth-of-type(3){height: auto;}
section.view02 div.frame aside:nth-of-type(3) div.pop03 div.popup:not(:nth-of-type(3)){height: 0;}

section.view00 div.screen00{ height: 100%; }
section.view00 div.screen01{ height: 0; }
section.view00 div.screen02{ height: 0; }
section.view00 div.screen03{ height: 0; }

section.view01 div.screen00{ height: 0; }
section.view01 div.screen01{ height: 100%; }
section.view01 div.screen02{ height: 0; }
section.view01 div.screen03{ height: 0; }


section.view02 div.screen00{ height: 0; }
section.view02 div.screen01{ height: 0; }
section.view02 div.screen02{ height: 100%; }
section.view02 div.screen03{ height: 0; }


section.view03 div.screen00{ height: 0; }
section.view03 div.screen01{ height: 0; }
section.view03 div.screen02{ height: 0; }
section.view03 div.screen03{ height: 100%; }
section.view03 div.frame aside:nth-of-type(3).set00{ width: 0; height: 0; box-shadow: none;}
section.view03{ background-color: #a98ae6; }
section.view03 div.frame aside:nth-of-type(1){background-color: #4848b3;}
section.view03 div.frame aside:nth-of-type(2){border: 2px solid #4848b3;}

/*
